
a {
	color: blue;
	font-size: 13px;
}
div {
	color: rgba(255, 0, 0, 0.5);
}
#moya_ssilka {
	color:lime;
}

#testovaya_ssilka {
	font-size: 20px;
	color: #E227E8;
}

.human {
	color: #4F1ED6;
}

.animal {
	color: #EB580E;
}

.lion {
	color: #F5915F;
}

.monkey {
	color: #6B2C0D;
}

.fish {
	color: #35A9CC;
}

.message {
	color: grey;
	background-color: #A3EB15;
	border: 2px solid #272923;
	font-size: 15px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 15px;
	padding: 25px;
	
}

.success {
	background-color: #2AA341;
	color: #ffffff;
}

.fail {
	background-color: red;
	color: white;
}

.info {
	background-color: blue;
	color: black;
}

.warning {
	background-color: #EDDF45;
	color: #000000;
}

.message:hover {
	border: 10px solid #272923;
}

div:hover {
	border: 5px solid #272923;
}








